@charset "utf-8";

#box{
	background-color: #ff9999; width: 800px; height: 500px;
	margin: auto; color: #ffffff;
}

#box h1{
	text-align: center; padding-top: 40px; 
}

#box p{
	text-align: center;
}

#box ul li{  /* 컴마가 아닌 띄어줘야함. */
	padding-left: 100px;
	list-style: none;
}